/*Header */
body{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    display: grid;
    /*justify-content:left;*/
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

#headGauche {
    grid-column: 1;
    display: inline-flex;
    column-gap: 30px;
}

#headDroite {
    grid-column: 2;
    justify-self: right;
}

header button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

header input[type="text"] {
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 20px;
}

.fa-magnifying-glass {
    font-size: 24px;
}

.fa-user {
    font-size: 24px;
    margin-right: 20px;
}


/* Style the links inside the navigation bar */
.categories a {
    float: left;
    background-color: #ddd;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.categories div:hover {
    background-color: #eee;
    color: black;
}
  
/* Add a color to the active/current link */
.categories div.active {
    background-color: #3f6fa7;
    color: white;
}


input {
    margin: .4rem 0;
}

.bwc .mat-tab-label.mat-tab-label-active, .bwc .mat-tab-label.mat-tab-label-active bwc-icon .mat-icon {
    color: #14438b;
}

.bwc .mat-tab-label {
    font-size: 1rem;
    line-height: 1.5;
    font-family: ExcellenceInMotion,Helvetica Neue,sans-serif;
    text-transform: none;
    font-weight: 700;
    min-width: auto;
    padding: 0 16px;
    opacity: unset;
    color: #051039;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
 }
 
 