/*Header */
body{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    display: grid;
    /*justify-content:left;*/
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

#headGauche {
    grid-column: 1;
    display: inline-flex;
    column-gap: 30px;
}

#headDroite {
    grid-column: 2;
    justify-self: right;
}

header button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.fa-user {
    font-size: 24px;
    margin-right: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #e6e6e6;
    width: 20%;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

#genre {
    display: inline-flex;
    flex-direction: row;
    align-items: center; /* pour centrer verticalement les boutons radio */
    margin-bottom: 10px;
}
    
#genre label {
    margin-right: 5px; /* pour ajouter un petit espace entre le texte et le bouton radio */
    display: inline-block;
    vertical-align: middle; /* pour aligner le texte avec le bouton radio */
    }
    
input[type="radio"] {
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    background-color: #e6e6e6;
    width: 150px;
    padding: 0; /* pour supprimer le padding */
    margin-bottom: 0; /* pour supprimer la marge inférieure */
}

#genre input[type="radio"] {
    margin-left: 25px; /* ajout d'une marge à droite pour l'espace */
    border-radius: 5px;
    border: none;
    background-color: #e6e6e6;
    width: auto;
    padding: 0;
    margin-bottom: 0;
    vertical-align: middle;
    }




/* modifie pour que les boutons radio et leurs texte soit plus proche */
